{{#is_compact_mode ~}}
{{> templates/partials/html/compact-table-footer.html}}
{{/is_compact_mode ~}}
{{#templateCustomization}}{{#if includeGenerationDate}}<h3 class="center center-text">{{i18n "template.generationDate"}} <b>{{generationDate}}</b> </h3>{{/if}}{{/templateCustomization}}
{{> templates/partials/html/toc-script.html}}
{{> templates/partials/html/footer.html}}
</body>
</html>
