<html lang="en">
{{> templates/partials/html/header.html}}
<body>
<h1 class="center center-text">{{mainName}}</h1>
<p class="center-text"> {{mainDescription}}</p>
{{> templates/partials/html/toc.html}}
