<html lang="en">
{{> templates/partials/html/header.html}}
<body>
{{#templateCustomization}}
{{#if headerEnabled}}
<h1 class="center center-text">{{mainName}}</h1>
<p class="center-text"> {{mainDescription}}</p>
{{/if}}
{{/templateCustomization}}
{{> templates/partials/html/toc.html}}

