<html lang="en">
{{> templates/partials/html/header.html}}
<body>
{{#templateCustomization}}
{{#if headerEnabled}}
{{#if mainName}}<h1 class="center center-text">{{mainName}}</h1>{{/if}}
{{#if mainDescription}}<p class="center-text"> {{mainDescription}}</p>{{/if}}
{{/if}}
{{> templates/partials/html/toc.html}}
{{/templateCustomization}}